<html>
  <head>
    <title>BIBLIOTECA ULEAM</title>
    <link rel="stylesheet" href="interfaz-inicial.component.css">
  </head>
  <body>
    <header id="main-header" class="transparente">
        <div>
          <img src="/assets/imagenes/LOGO_ULEAM.png" alt="Logo ULEAM" class="header-logo">
        </div>
        
        <div class="header-Izquierda">
          <h1>BIBLIOTECA ULEAM</h1>
        </div>

        <div class="BT">
          <nav>
            <a href="/inicio-sesion" class="BOTONES">Iniciar Sesión</a>
            <a href="/registro" class="BOTONES">Registrarse</a>
          </nav>
        </div>
    </header>

    <div class="FONDO-CONTENEDOR">
      <div class="FONDO-INTERIOR">
        <img src="/assets/imagenes/ULEAM.png" alt="Logo ULEAM">
      </div>
    </div>
    <div class="CT-BTMENU">
      <div class="imagen">
        <img src="/assets/imagenes/LIB.png" alt="Imagen lateral">
      </div>
      <a href="/interfaz-libros" class="BTMENU">LIBROS</a>
    </div>

    <script src="../../assets/validaciones/Validaciones.js" ></script>
  </body>
</html>